.component-13{
    border: 1px solid #F1F1F1;
    padding: 40px 38px 40px 30px;
    box-shadow: 0 12px 8px #0000000a;
    margin-bottom: 65px;
}
.component-13 h4{
    font-size: 24px;
    font-family: "GlacialIndifference-Bold";
    padding-bottom: 22px;
    border-bottom: 2px solid #F3F4F6;
    margin-bottom: 34px;
    margin-left: 8px;
}
.component-13 div{
    flex-wrap: wrap;
}
.component-13 div p{
    padding: 7px 19px 9px 19px;
    border-radius: 19.5px;
    border: 2px solid #F0F4F7;
    font-family: "Muli-Regular";
    font-size: 13px;
    color: #8799A3;
    margin-right: 10px;
    margin-bottom: 8px;
}
.component-13 div p:hover{
    background-color: #EE3364;
    color: #F0F4F7;
}
.c13-b2{
    padding: 7px 16px 9px 16px !important;
}
.c13-b4{
    padding: 9px 21px 9px 21px !important;
}
.c13-b5{
    padding: 9px 22px 9px 22px !important;
}
.c13-b6{
    padding: 8px 15px 8px 14px !important;
}
.c13-b8{
    padding: 9px 16px 7px 16px !important;
}

.c13-b9{
    padding: 8px 16px 7px 19px !important;
}