.top-bar{
    height: 37px;
    width: 100%;
    margin: 13px 0 20px 0;
    border-bottom: 1px solid;
    align-items: flex-start;
}
.content{
    justify-content: space-between;
}
.contact-box p{
    font-family: "Muli";
    font-size: 15px;
    color: #0A0909;
}
.contact-box p:nth-child(1) img{
    margin-right: 20px;
}
.contact-box p:nth-child(2) img{
    margin-right: 16px;
}
.content p:nth-child(1){
    margin-right: 83px;
}
.icon-box img:not(:last-child){
    margin-right: 20px;
}