.component-11{
    border: 1px solid #F1F1F1;
    padding: 40px 40px 30px 38px;
    box-shadow: 0 12px 8px #0000000a;
    margin-bottom: 50px;
}
.component-11 h4{
    font-size: 24px;
    font-family: "GlacialIndifference-Bold";
    padding-bottom: 22px;
    border-bottom: 2px solid #F3F4F6;
    margin-bottom: 38px;
}
.component-11 ul{
    list-style: none;
    font-family: "Muli-Regular";
    font-size: 16px;
    color: #8799A3;
    width: 243px;
    margin-left: 7px;
}
.component-11 ul li{
    padding-bottom: 15px;
}
.component-11 ul li:not(:last-child){
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 13px;
}