@font-face {
    font-family: "Muli";
    src: url(./fonts/Muli.ttf);
}
@font-face {
    font-family: "Muli-Regular";
    src: url(./fonts/Muli-Regular.ttf);
}
@font-face {
    font-family: "Muli-Bold";
    src: url(./fonts/Muli-Bold.ttf);
}
@font-face {
    font-family: "GlacialIndifference-Bold";
    src: url(./fonts/GlacialIndifference-Bold.otf);
}
@font-face {
    font-family: "GlacialIndifference-Regular";
    src: url(./fonts/GlacialIndifference-Regular.otf);
}
@font-face {
    font-family: "Cambay";
    src: url(./fonts/Cambay-Regular.ttf);
}
@font-face {
    font-family: "BwModelica-Medium";
    src: url(./fonts/BwModelica-Medium.otf);
}
@font-face {
    font-family: "GlacialIndifference-Italic";
    src: url(./fonts/GlacialIndifference-Italic.otf);
}
@font-face {
    font-family: "Muli-Light";
    src: url(./fonts/Muli-Light.ttf);
}
@font-face {
    font-family: "Muli-ExtraLight";
    src: url(./fonts/Muli-ExtraLight.ttf);
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url(./fonts/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url(./fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(./fonts/Poppins-Regular.ttf);
}