*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.main-aside-wrapper{

}
main{
    width: 798px;
    margin-right: 25px;
}
.main-content{
    width: 770px;
}
.m-left5{
    margin-left: 5px;
}
aside{
    width: 360px;
    height: 400px;
}
.component-6{
    width: 861px;
}
.content{
    width: 1161px;
}
.flex{
    display: flex;
}
.h-center{
    display: flex;
    justify-content: center;
}
.v-center{
    display: flex;
    align-items: center;
}