*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-aside-wrapper{

}
main{
    width: 770px;
    height: 1000px;
    margin-right: 43px;
}
aside{
    width: 360px;
    height: 400px;
}
.content{
    width: 1161px;
}
.flex{
    display: flex;
}
.h-center{
    display: flex;
    justify-content: center;
}
.v-center{
    display: flex;
    align-items: center;
}